<mat-form-field>
    <input matInput
    #searchvalue
    (click) = "rowClicked($event)"
     value="search here..." 
     (keyup)="applyFilter($event.target.value)" placeholder="Filter"
     (blur) = 'resetFilter($event.target)'>
  </mat-form-field>
  <p *ngIf="searchvalue.value != 'search here...' && searchvalue.value != ''">
    Results for '{{searchvalue.value}}'
  </p>

  <table matSort  style="width:600px;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- EmpCode Column -->
    <ng-container matColumnDef="code">
      <th  mat-sort-header mat-header-cell *matHeaderCellDef> EmpCode </th>
      <td mat-cell *matCellDef="let employee"> {{employee.code}} </td>
    </ng-container>
  
    <!-- empName Column -->
    <ng-container matColumnDef="empName">
      <th  mat-sort-header mat-header-cell *matHeaderCellDef> Emp Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.empName}} </td>
    </ng-container>
  
    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th  mat-sort-header mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let employee"> {{employee.department}} </td>
    </ng-container>
  
    <!-- Designation Column -->
    <ng-container matColumnDef="designation">
      <th  mat-sort-header mat-header-cell *matHeaderCellDef> Designation </th>
      <td mat-cell *matCellDef="let employee"> {{employee.designation}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
